<h1><%= @company.name %></h1>

<h2>Jobs</h2>

<ul>
  <% @company.jobs.each do |job| %>
    <li>
      <%= link_to job.title, job_path(job), class: 'link' %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "Create Job", new_company_job_path(@company), class: 'btn btn-create' %>

<br>
<br>
<h2>Contacts</h2>
<table>
  <% @contacts.each do |contact| %>
    <tr>
      <td>
        &bull;
      </td>
      <td>
        <%= contact.full_name %>
      </td>
      <td>
        <%= contact.position %>
      </td>
      <td>
        <%= contact.email %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Create Contact", new_company_contact_path(@company), class: "btn btn-create" %>