<h1>Jobs</h1>

<table>
  <tr>
    <td>
      <h3>Sort by:</h3>
    </td>
    <td>
      <%= link_to "Name", jobs_path, class: "btn btn-search" %>
    </td>
    <td>
      <%= link_to "City", jobs_path(sort: :city), class: "btn btn-search" %>
    </td>
    <td>
      <%= link_to "Interest", jobs_path(sort: :level_of_interest), class: "btn btn-search" %>
    </td>
    <td>
      <%= link_to "Denver", jobs_path(city: "Denver"), class: "btn btn-search" %>
    </td>
  </tr>
</table>


<% @job_query.keys.sort.each do |city| %>
  <h3><%= city %></h3>
  <ul>
    <% @job_query[city].each do |job| %>
      <li>
        <%= link_to job.title, job_path(job), class: "link" %>
      </li>
    <% end %>
  </ul>
  <br>
<% end %>