<h2><%= @job.title %></h2>

<div id="description">
  <% @job.split_description.each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
</div>

<table>
  <tr>
    <td>
      Company
    </td>
    <td id="company-name">
      <%= link_to @job.company.name, company_path(@job.company), class: 'link' %>
    </td>
  </tr>
  <tr>
    <td>
      Level of interest
    </td>
    <td id="level-of-interest">
      <%= @job.level_of_interest %>
    </td>
  </tr>
  <tr>
    <td>
      City
    </td>
    <td id="city">
      <%= @job.city %>
    </td>
  </tr>
  <tr>
    <td>
      Category
    </td>
    <td id="category">
      <%= @job.category.nil? ? "" : @job.category.title %>
    </td>
  </tr>
</table>
<br>
<%= link_to "Edit", edit_company_job_path(@company, @job), class: 'btn btn-edit' %>
<%= link_to "Delete", company_job_path(@company, @job), class: 'btn btn-delete', method: :delete %>
